<div class="values" [formGroup]="formGroup">
  <div *ngIf="!disabled;else onlyLabel">
    <div class="label-value" *ngIf="!editValue" (click)="editValue=!editValue">
      <label>{{formGroup.controls.numberValue.value}}&euro;</label>
    </div>
    <input *ngIf="editValue" id="numberValue" class="form-control" formControlName="numberValue" type="number"
           [min]="min" [max]="max" required
           (focusout)="onInputNumberChange(formGroup)" (keydown.enter)="onInputNumberChange(formGroup)"
           [ngClass]="{'error': formGroup.controls.numberValue.invalid && (formGroup.controls.numberValue.dirty || formGroup.controls.numberValue.touched)}">
  </div>
  <ng-template #onlyLabel>
    <div class="label-value">
      <label>{{typeCurrency === typesCurrency.MIN ? currencyMin : currencyMax}}&euro;</label></div>
  </ng-template>
</div>
