<a routerLink="/index">Go to index</a>
<div style="margin: 10%">
  <h3 style="text-align: center">Range stub index 0 with NgModel</h3>
  <ngc-range [type]="rangeTypes.FIXED" [values]="rangeFixedList[0]" [(ngModel)]="itemNgModel"></ngc-range>
  <p>
    NgModel min:{{itemNgModel ? itemNgModel.min : 'No data'}}
  </p>
  <p>
    NgModel max:{{itemNgModel ? itemNgModel.max : 'No data'}}
  </p>
</div>
<div *ngFor="let data of rangeFixedList; let i=index">
  <div style="margin: 10%">
    <h3 style="text-align: center">Range {{i}}</h3>
    <ngc-range [type]="rangeTypes.FIXED" [values]="data"
               (rangeChange)="onChanges($event, i)"></ngc-range>
    <p>
      Retry min: {{!!arrayValues[i].min ? arrayValues[i].min : 'No data'}}
    </p>
    <p>
      Retry max: {{!!arrayValues[i].max ? arrayValues[i].max : 'No data'}}
    </p>
  </div>
</div>
