.range {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;

  .values{
    width: 50px;
    margin: 50px;
    input{
      width: inherit;
    }
  }

  .range-slider {
    width: 100%;
    height: 5px;
    position: relative;
    background-color: black;
    left: 3px;

    .dragger {
      display: inline-block;
      position: absolute;
      width: 25px;
      height: 25px;
      z-index: 2;
      background-color: blue;
      border-radius: 25px;
      bottom: -11px;
      horiz-align: center;
    }

    .dragger:hover{
      cursor: move;
      width: 30px;
      height: 30px;
    }
  }
}
