<div class="range">
  <ngc-currency-number [min]="min" [max]="max" [currencyMin]="currencyMin" [currencyMax]="currencyMax" [typeCurrency]="typesCurrency.MIN"
                       (changeCurrencyNumber)="onChangeMinCurrencyValue($event)" [disabled]="type===typesRanges.FIXED"></ngc-currency-number>
  <div class="range">
    <div class="range-slider" #rangeSlider>
      <div class="dragger" id="dragger-left" draggable="true" (drag)="onDragMin($event)"
           [ngStyle]="{'left': dragMinPosition+'px'}"></div>
      <div class="dragger" id="dragger-right" draggable="true" (drag)="onDragMax($event)"
           [ngStyle]="{'left': dragMaxPosition+'px'}"></div>
    </div>
  </div>
  <ngc-currency-number [min]="min" [max]="max" [currencyMin]="currencyMin" [currencyMax]="currencyMax" [typeCurrency]="typesCurrency.MAX"
                       (changeCurrencyNumber)="onChangeMaxCurrencyValue($event)" [disabled]="type===typesRanges.FIXED"></ngc-currency-number>
</div>
