<a routerLink="/index">Go to index</a>
<div style="margin: 10%">
  <h3 style="text-align: center">Range stub index 0 with NgModel</h3>
  <ngc-range [min]="rangeNormalList[0].min" [max]="rangeNormalList[0].max" [(ngModel)]="itemNgModel"></ngc-range>
  <p>
    NgModel min:{{itemNgModel ? itemNgModel.min : 'No data'}}
  </p>
  <p>
    NgModel max:{{itemNgModel ? itemNgModel.max : 'No data'}}
  </p>
</div>
<div *ngFor="let data of rangeNormalList; let i=index">
  <div style="margin: 10%">
    <h3 style="text-align: center">Range stub index {{i}}</h3>
    <ngc-range [min]="data.min" [max]="data.max"
               (rangeChange)="onChanges($event, i)"></ngc-range>
    <p>
      onChanges min: {{!!arrayValues[i].min ? arrayValues[i].min : 'No data'}}
    </p>
    <p>
      onChanges max: {{!!arrayValues[i].max ? arrayValues[i].max : 'No data'}}
    </p>
  </div>
</div>
