<div class="list-exercises">
  <h1>Range Test</h1>
  <div>
    <ul>
      <li><a routerLink="/exercise1">Exercise 1</a></li>
      <li><a routerLink="/exercise2">Exercise 2</a></li>
    </ul>
  </div>
</div>
